<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailHost" value="SMTP.sina.COM" />
    <add key="EmailFrom" value="hellotigger@sina.com" />
    <add key="CredentialUserName" value="hellotigger" />
    <!--Password contains & use &amp; Instead of-->
    <add key="CredentialPassword" value="hello" />
    <add key="CredentialDomain" value="" />
    <!--部署环境-->
    <add key="PublishEnvironment" value="Dev" />
   
  </appSettings>
</configuration>